.container{
  width: 100%;
  padding-top: 20px;
}
.inputDiv{
    width: 100%;
    padding: 20px 0 10px 0;
    display: flex;
    flex-direction: column;
}

.input {
    width: 70%;
    margin: auto;
    border-bottom: 2px solid gray;
    display: flex;
    flex-direction: row;
    margin: 10;
}

.input input{
    width: 85%;
    font-size: 17px;
    outline: none;
    border: none;
    text-align:left;
}
.input label{
    width: 15%;
    font-size: 25px ;
    padding: 5px 0;
    color: rgb(48, 43, 43);
}
.error {
  width: 70%;
  text-align: left;
  height: 20px;
  margin: auto;
  color: red;
}
.btnSubmit {
    width: 100%;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
  }
  
  .button {
    background: #5e5df0;
    border-radius: 999px;
    box-shadow: #5e5df0 0 10px 20px -10px;
    box-sizing: border-box;
    color: #ffffff;
    cursor: pointer;
    font-family: Inter, Helvetica, "Apple Color Emoji", "Segoe UI Emoji",
      NotoColorEmoji, "Noto Color Emoji", "Segoe UI Symbol", "Android Emoji",
      EmojiSymbols, -apple-system, system-ui, "Segoe UI", Roboto, "Helvetica Neue",
      "Noto Sans", sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    opacity: 1;
    outline: 0 solid transparent;
    padding: 8px 40px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: fit-content;
    word-break: break-word;
    border: 0;
  }

  @media screen and (max-width: 600px) {
    .inputDiv{
      padding: 10px 0 10px 0;
    }


    .input label{
      width: 20%;
      font-size: 20px ;
      padding: 5px 0;
      color: rgb(48, 43, 43);
    }

    .input input{
      font-size: 16px;
    }

    .button {
      padding: 8px 25px;
    }
    .error {
      height: 10px;
      font-size: 15px;
    }
  }